@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebf0f5;
}

body {
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
